.postSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.postArticle  {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.addPostSection {
  display: flex;
  flex-direction: column;
}

.addPostForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.addPostForm input, select {
  font-size: 16px;
  height: 28px;
}

button:disabled {
  cursor: not-allowed;
}